{% extends 'common/baseuser.html' %}
{% block body %}
    <div class="border1"></div>
    <div class="head1">Home services at your doorstep.</div>

    <div class="services">
      <div class="sevitem">
        <div class="img1"><img src="/media/image/common/tv instalisation.png" alt="" /></div>
        <div class="imgcon">Installation Service</div>
      </div>

      <div class="sevitem">
        <div class="img2"><img src="/media/image/common/ac repair_2.jpg" alt="" /></div>
        <div class="imgcon">Repair Services</div>
      </div>

      <div class="sevitem">
        <div class="img3"><img src="/media/image/common/cleaning_.jpeg" /></div>
        <div class="imgcon">Cleaning Services</div>
      </div>
      <div class="sevitem">
        <div class="img5"><img src="/media/image/common/electricians-repair.jpg" alt="" /></div>
        <div class="imgcon">Electrician Services</div>
      </div>
      <div class="sevitem">
        <div class="img6"><img src="/media/image/common/home painter.avif" alt="" /></div>
        <div class="imgcon">Painter Services</div>
      </div>
      <div class="sevitem">
        <div class="img7"><img src="/media/image/common/4-Carpenter-Services-1.jpg" alt="" /></div>
        <div class="imgcon">Carpenter Services</div>
      </div>
    </div>
    <div class="border1"></div>
    <div class="fest">
      <div class="fcon">
        <div class="festcon">Festival Decoration(Special)</div>
      <div class="ftag">"Enhance your celebrations with our expert festival decoration service, offering creative, vibrant, and hassle-free decor for every occasion!"</div>
      </div>
      <div class="festimg"><img src="/media/image/common/home decoration.jpeg" alt=""></div>
    </div>
    <div class="border1"></div>
    <div class="head1">Repair services</div>
    <div class="services">
      <div class="sevitem">
        <div class="img"><img src="/media/image/common/ac_reapair.webp" alt="" /></div>
        <div class="imgcon">AC repair</div>
      </div>

      <div class="sevitem">
        <div class="img"><img src="/media/image/common/geyser-service2.webp" alt="" /></div>
        <div class="imgcon">Geyser Repair</div>
      </div>

      <div class="sevitem">
        <div class="img"><img src="/media/image/common/TV repair.jpeg" alt="" /></div>
        <div class="imgcon">TV Repair</div>
      </div>

      <div class="sevitem">
        <div class="img"><img src="/media/image/common/fridge-repair1.jpg" alt="" /></div>
        <div class="imgcon">Refrigerator Repair</div>
      </div>

      <div class="sevitem">
        <div class="img"><img src="/media/image/common/washing machine.jpeg" alt="" /></div>
        <div class="imgcon">Washing Machine</div>
      </div>
      <div class="sevitem">
        <div class="img"><img src="/media/image/common/oven.jpg" alt="" /></div>
        <div class="imgcon">Oven Repair</div>
      </div>
    </div>
    <div class="border1"></div>
    <div class="head1">Installation Service</div>
    <div class="services">
      <div class="sevitem">
        <div class="img"><img src="/media/image/common/ac repair.jpg" alt="" /></div>
        <div class="imgcon">AC Installation</div>
      </div>

      <div class="sevitem">
        <div class="img"><img src="/media/image/common/Geyser service.jpeg" alt="" /></div>
        <div class="imgcon">Geyser Installation</div>
      </div>

      <div class="sevitem">
        <div class="img"><img src="/media/image/common/tv instalisation.png" alt="" /></div>
        <div class="imgcon">TV Installation</div>
      </div>

      <div class="sevitem">
        <div class="img"><img src="/media/image/common/fan instalisation.webp" alt="" /></div>
        <div class="imgcon">Fan Installation</div>
      </div>

      <div class="sevitem">
        <div class="img"><img src="/media/image/common/furniture-installation-service.jpg" alt="" /></div>
        <div class="imgcon">Furniture Installation</div>
      </div>
    </div>
    <div class="border1"></div>
  {% endblock %}