{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  <link rel="stylesheet" href="{% static 'common/userdash.css' %}">
  </head>
  <body>
    <div class="nav">
      <div class="logo"><img src="/media/image/common/BLUE FRAME.png" alt="Logo"></div>
      <ul class="nav-links">
        <li><a href="1Home html.html" class="active">Home</a></li>
        <li><a href="5about.html">About Us</a></li>
        <li><a href="6contactus.html">Contact Us</a></li>
        <li><a href="3user.html">Login</a></li>
      </ul>
    </div>
    
    <div class="main">
      <div class="box"></div>
      <div class="home1">
        <div class="name">The Repair Crew</div>
        <div class="tagline">Expert Care for Every Corner of Your Home</div>
        <div class="twobtn">
          <button id="btn"><a href="3user.html">User login</a></button>
          <button id="btn"><a href="">Crew Login</a></button>
        </div>
      </div>
    </div>
    <div class="border1"></div>
    <div class="head1">Home services at your doorstep.</div>

    <div class="services">
      <div class="sevitem">
        <div class="img1"><img src="/media/image/common/tv instalisation.png" alt="" /></div>
        <div class="imgcon">Installation Service</div>
      </div>

      <div class="sevitem">
        <div class="img2"><img src="/media/image/common/ac repair_2.jpg" alt="" /></div>
        <div class="imgcon">Repair Services</div>
      </div>

      <div class="sevitem">
        <div class="img3"><img src="/media/image/common/cleaning_.jpeg" /></div>
        <div class="imgcon">Cleaning Services</div>
      </div>
      <div class="sevitem">
        <div class="img5"><img src="/media/image/common/electricians-repair.jpg" alt="" /></div>
        <div class="imgcon">Electrician Services</div>
      </div>
      <div class="sevitem">
        <div class="img6"><img src="/media/image/common/home painter.avif" alt="" /></div>
        <div class="imgcon">Painter Services</div>
      </div>
      <div class="sevitem">
        <div class="img7"><img src="/media/image/common/4-Carpenter-Services-1.jpg" alt="" /></div>
        <div class="imgcon">Carpenter Services</div>
      </div>
    </div>
    <div class="border1"></div>
    <div class="fest">
      <div class="fcon">
        <div class="festcon">Festival Decoration(Special)</div>
      <div class="ftag">"Enhance your celebrations with our expert festival decoration service, offering creative, vibrant, and hassle-free decor for every occasion!"</div>
      </div>
      <div class="festimg"><img src="/media/image/common/home decoration.jpeg" alt=""></div>
    </div>
    <div class="border1"></div>
    <div class="head1">Repair services</div>
    <div class="services">
      <div class="sevitem">
        <div class="img"><img src="/media/image/common/ac_reapair.webp" alt="" /></div>
        <div class="imgcon">AC repair</div>
      </div>

      <div class="sevitem">
        <div class="img"><img src="/media/image/common/geyser-service2.webp" alt="" /></div>
        <div class="imgcon">Geyser Repair</div>
      </div>

      <div class="sevitem">
        <div class="img"><img src="/media/image/common/TV repair.jpeg" alt="" /></div>
        <div class="imgcon">TV Repair</div>
      </div>

      <div class="sevitem">
        <div class="img"><img src="/media/image/common/fridge-repair1.jpg" alt="" /></div>
        <div class="imgcon">Refrigerator Repair</div>
      </div>

      <div class="sevitem">
        <div class="img"><img src="/media/image/common/washing machine.jpeg" alt="" /></div>
        <div class="imgcon">Washing Machine</div>
      </div>
      <div class="sevitem">
        <div class="img"><img src="/media/image/common/oven.jpg" alt="" /></div>
        <div class="imgcon">Oven Repair</div>
      </div>
    </div>
    <div class="border1"></div>
    <div class="head1">Installation Service</div>
    <div class="services">
      <div class="sevitem">
        <div class="img"><img src="/media/image/common/ac repair.jpg" alt="" /></div>
        <div class="imgcon">AC Installation</div>
      </div>

      <div class="sevitem">
        <div class="img"><img src="/media/image/common/Geyser service.jpeg" alt="" /></div>
        <div class="imgcon">Geyser Installation</div>
      </div>

      <div class="sevitem">
        <div class="img"><img src="/media/image/common/tv instalisation.png" alt="" /></div>
        <div class="imgcon">TV Installation</div>
      </div>

      <div class="sevitem">
        <div class="img"><img src="/media/image/common/fan instalisation.webp" alt="" /></div>
        <div class="imgcon">Fan Installation</div>
      </div>

      <div class="sevitem">
        <div class="img"><img src="/media/image/common/furniture-installation-service.jpg" alt="" /></div>
        <div class="imgcon">Furniture Installation</div>
      </div>
    </div>
    <div class="border1"></div>
    <div class="call">Questions? Call 000-800-919-1694</div>
<footer>
    <div class="footercon">
        <a href="faq">FAQ</a>
        <a href="faq">Investor Relation</a>
        <a href="faq">Privacy</a>
        
    </div>
    <div class="footercon">
        <a href="faq">Help Center</a>
        <a href="faq">Jobs</a>
        <a href="faq">Cookie Preferences</a>
        
    </div>
    <div class="footercon">
        <a href="faq"> Account</a>
        <a href="faq">Corporate Information</a>
        <a href="faq">Legal Notices</a>
    </div>
    <div class="footercon">
        <!-- <a href="faq">Media Centre</a> -->
        <a href="faq"> Terms of Use</a>
        <a href="faq">Corporate Information</a>
        <a href="faq">Contact Us</a>
    </div>
</footer>
<div class="last">The Repair Crew</div>

  </body>
</html>