* {
    margin: 0;
    overflow: none;
    padding: 0;

  }
  body{
    background-color:whitesmoke;
    overflow: none;
  }
  
  .nav {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(236, 236, 236);
    height: 55px;
    gap: 60px;
    padding: 0px 10px;
  }
  .menu {
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
    width: fit-content;
    display: flex;
    list-style: none;
  }
  .menu a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  .menu .link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px 36px;
    overflow: hidden;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu .link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0a3cff;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
.item #profile{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease;
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #0548e4;    
    border-radius: 50%;
    background-image: url('/media/image/common/user.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
  .menu .link svg {
    width: 14px;
    height: 14px;
    fill: #000000;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .menu .item {
    position: relative;
  } 
  
  .menu .item .submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 1%;
    /* */

    left: 20%;
    transform: translate(-50%, -50%);
    width:60%;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-12px);
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
    pointer-events: none;
    list-style: none;
  }
  
  .menu .item:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
    border: none;
  }
  
  .menu .item:hover .link {
    color: rgb(21, 88, 244);
  }
  
  .menu .item:hover .link::after {
    transform: scaleX(1);
    transform-origin: right;
  }
  
  .menu .item:hover .link svg {
    
    fill:  rgb(18, 35, 196);
    transform: rotate(-180deg);
  }

  .submenu .submenu-item {
    width: 100%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .submenu .submenu-link {
    display: block;
    gap: 30px;
    width: 90%;
    position: relative;
    text-align: center;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .submenu .submenu-item:last-child .submenu-link {
    border: none;
  }
  
  .submenu .submenu-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: 100%;
    z-index: -1;
    color: rgb(0, 21, 255);
    transform-origin: left;
    transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .submenu .submenu-link:hover:before {
    transform: scaleX(1);
    transform-origin: right;
  }
  
  .submenu .submenu-link:hover {
    background-color: rgba(255, 255, 255, 0.818);
    color: rgb(16, 71, 199);
    font-weight: bold;
  }
  
  .nav a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
  }
   a:hover{
    color: rgb(16, 71, 199);
  }
  .logo img {
    height: 50px;
    width: auto;
    padding: 5px;
    margin-top: 4px;
  }
  .nav .home{
    margin-left: auto;
  }
  .main {
    background-image: url("/media/image/common/home2.jpg");
    height: 500px;
    width: 90vw;
    background-size: cover;
    background-position: center;
    border: none;
    background-repeat: no-repeat;
  }
  .fest{
    color: white;
    height: 300px;
    width: 90vw;
    background-color:#143dd1f1;
    margin: 50px;
    border: 3px solid rgb(70, 70, 70);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  .fest .img{
    height:300px;
    width:40vw;
  }
  .fest img{
    object-fit: contain;
    height:100%;
    width: 100%;
    /* border: 1px solid black;
    border-radius: 10px; */
    object-fit: cover;
  }
  .festcon{
    font-size: 40px;
    font-weight: 900;
    font-size: 40px;
    font-weight: 600;
    padding-top:80px;
    padding-left: 50px;
  }
  .flag{
    padding-left: 50px;
    font-size: 20px;
  }
  .name{
    font-size: 60px;
    font-weight: 900;
    padding-top:120px;
    padding-left: 50px;
  }
  .main .box{
    height: 500px;
    width: 100vw;
    opacity: .1;
    position: absolute;
    background-color: black;
  }
  .tagline{
    font-size: 30px;
    padding-left: 55px;
  }
  .border1{
    background-color:#0037FF;
    height:3px;
    width:100vw;
    margin-bottom: 50px;
  }
  .head1{
    font-size: 35px;
    font-weight: 400;
    margin: 20px 0px 10px 30px;
  }
  .cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px;
    max-width: 70vw;
  }
  .services{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
  }
  .sevitem{
    border-radius: 5px;
    border: 2px solid black;
  }
  .sevitem img{
    height: 220px;
    width: 180px;
    border-radius: 5px;
    opacity: 0.8;
  }
  .sevitem img{
    height: 250px;
    width: 200px;
    border-radius: 5px;
  }
  .sevitem .imgcon{
    text-align: center;
  }
  .sevitem img :hover{
    height: 270px;
    width: 220px;
    border-radius: 5px;
  }
  .imgcon{
    margin: 10px;
    font-size: 20px;
  }
  .call{
    color: rgb(0, 0, 0);
    margin: 50px;
    margin-left: 280px;
    font-size: 20px;
  }
  

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

  footer{
    /* position: fixed; */
    background: #12192c;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  footer::before{
    content: '';
    position: absolute;
    left: 0;
    /* top: 100px; */
    height: 1px;
    width: 100%;
    background: #12192c;
  }
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .content .top .logo-details{
    color: #fff;
    font-size: 30px;
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .top .media-icons a:nth-child(1){
    background: #4267B2;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }
  .top .media-icons a:nth-child(2){
    background: #1DA1F2;
  }
  .top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
  }
  .top .media-icons a:nth-child(3){
    background: #E1306C;
  }
  .top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: #fff;
  }
  .top .media-icons a:nth-child(4){
    background: #0077B5;
  }
  .top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
  }
  .top .media-icons a:nth-child(5){
    background: #FF0000;
  }
  .top .media-icons a:nth-child(5):hover{
    color: #FF0000;
    background: #fff;
  }
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .content .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #AFAFB6;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
  background: #12192c;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
  @media (max-width: 900px) {
    footer .content .link-boxes{
      flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
      width: 40%;
      margin-top: 10px;
    }
  }
  @media (max-width: 700px){
    footer{
      position: relative;
    }
    .content .top .logo-details{
      font-size: 26px;
    }
    .content .top .media-icons a{
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 12px;
    }
  }
  @media (max-width: 520px){
    footer::before{
      top: 145px;
    }
    footer .content .top{
      flex-direction: column;
    }
    .content .top .media-icons{
      margin-top: 16px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 100%;
    }
  }
  .credit{
      text-align: center;
      color: #fff;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  